<a href="https://colab.research.google.com/github/revan006/CSC221_revan006/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#3-1 Names:
names = ['Chris', 'Jayden', 'Braden', 'Dan', 'Zach', 'Josh', 'Ethan']
print (names[0])
print (names[1])
print (names[2])
print (names[3])
print (names[4])
print (names[5])
print (names[6])
#3-2 Greetings:
message_c = f"Hello! {names [0].title()}"
message_j = f"Hello! {names [1].title()}"
message_b = f"Hello! {names [2].title()}"
message_d = f"Hello! {names [3].title()}"
message_z = f"Hello! {names [4].title()}"
message_j = f"Hello! {names [5].title()}"
message_e = f"Hello! {names [6].title()}"
print (message_c)
print (message_j)
print (message_b)
print (message_d)
print (message_z)
print (message_j)
print (message_e)
#3-3 Your Own list
mod_transpo = ['Toyota AE 86', 'Mazda RX-7']
message_t = f"I really want to drive a {mod_transpo[0].title()}"
message_m = f"I really want to drive a {mod_transpo[1].title()}"
print (message_t)
print (message_m)

Chris
Jayden
Braden
Dan
Zach
Josh
Ethan
Hello! Chris
Hello! Josh
Hello! Braden
Hello! Dan
Hello! Zach
Hello! Josh
Hello! Ethan
I really want to drive a Toyota Ae 86
I really want to drive a Mazda Rx-7

In [49]:
#3-4 Guest List
din_din = ["Heath Ledger", "Robin Williams", "Oppenheimer"]
inv = f'Hello! {din_din[0]} I would formally like to invite you to dinner'
din_r = f"Hello! {din_din [1]} I would formally like to invite you to dinner"
din_o = f'Hello! {din_din[2]} I would formally like to invit you to dinner'
print (inv)
print (din_r)
print (din_o)
#3-5 Changing Guest List
unav = ('Heath Ledger')
din_din.remove (unav)
print (din_din)
print (f'\n Unfortunately {unav.title()} will not be joining us today')
#3-6 More Guests
print ("Great News! We were able to find a bigger table allowing me to invite more people.")
din_din.insert(0, 'Michael Jackson')
din_din.insert (2, 'Mike Tyson')
din_din.append('Michael Jordan')
print (din_din)
uninvited = din_din.pop(2)
univited = din_din.pop(1)
uninvited_2 = din_din.pop(0)
print (f'Hello! {uninvited} I regret to inform you that due to unforseen circumstances I am unable to host you.')
print (f'Hello! {univited} I regret to inform you that due to unforseen circumstances I am unable to host you.')
print (f'Hello! {uninvited_2} I regret to inform you thta due to unforseen circumstances I am unable to host you.')
print (din_din)
#3-9 dinner guests
len(din_din)

Hello! Heath Ledger I would formally like to invite you to dinner
Hello! Robin Williams I would formally like to invite you to dinner
Hello! Oppenheimer I would formally like to invit you to dinner
['Robin Williams', 'Oppenheimer']

 Unfortunately Heath Ledger will not be joining us today
Great News! We were able to find a bigger table allowing me to invite more people.
['Michael Jackson', 'Robin Williams', 'Mike Tyson', 'Oppenheimer', 'Michael Jordan']
Hello! Mike Tyson I regret to inform you that due to unforseen circumstances I am unable to host you.
Hello! Robin Williams I regret to inform you that due to unforseen circumstances I am unable to host you.
Hello! Michael Jackson I regret to inform you thta due to unforseen circumstances I am unable to host you.
['Oppenheimer', 'Michael Jordan']

2

In [56]:
#3-10
colors = ['red', 'blue','green']
print (colors[0])
not_fav = f'my favorite color is {colors[2]}'
print (not_fav)
blnk = ('red')
colors.remove (blnk)
print (colors)
print (f'My least favorite color is {blnk}')
colors.insert(0, 'yellow')
colors.append('periwinkle')
print(colors)
least_fav = colors.pop(0)
print(f'My other least favorite color is {least_fav}')
print (colors)
len (colors)
print(sorted(colors))
colors.sort (reverse=True)
colors.reverse()
print (colors)
colors.sort()
print(colors)

red
my favorite color is green
['blue', 'green']
My least favorite color is red
['yellow', 'blue', 'green', 'periwinkle']
My other least favorite color is yellow
['blue', 'green', 'periwinkle']
['blue', 'green', 'periwinkle']
['blue', 'green', 'periwinkle']
['blue', 'green', 'periwinkle']

In [48]:
#3-8 Seeing the World
wrld = ['greece','netherlands','phillipines','japan','china']
print (wrld)
print(sorted(wrld))
print (wrld)
wrld.sort(reverse=True)
print (wrld)
wrld.reverse()
print(wrld)
wrld.sort()
wrld.sort()
print(wrld)

['greece', 'netherlands', 'phillipines', 'japan', 'china']
['china', 'greece', 'japan', 'netherlands', 'phillipines']
['greece', 'netherlands', 'phillipines', 'japan', 'china']
['phillipines', 'netherlands', 'japan', 'greece', 'china']
['china', 'greece', 'japan', 'netherlands', 'phillipines']
['china', 'greece', 'japan', 'netherlands', 'phillipines']

In [57]:
for num in range(60, 86):
    if num % 7 == 0:
        cube = num ** 3
        print(f"The cube of {num} is {cube}")

The cube of 63 is 250047
The cube of 70 is 343000
The cube of 77 is 456533
The cube of 84 is 592704

In [58]:
x_values = [40, 50, 120, -8, 6]
x_values = []
for x in x_values:
    y = 7.4 * x + 51
    y_values.append(y)
for x, y in zip(x_values, y_values):
    print(f"For x = {x}, y = {y}")

For x = 40, y = 347.0
For x = 50, y = 421.0
For x = 120, y = 939.0
For x = -8, y = -8.200000000000003
For x = 6, y = 95.4