<a href="https://colab.research.google.com/github/revan006/CSC221_revan006/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#4-1
pizza = ['supreme','margarita','bruchetta','veggie']
for pizza in pizza:
    print("I like",pizza.title(), "pizzas")
print("They're really good pizzas")

I like Supreme pizzas
I like Margarita pizzas
I like Bruchetta pizzas
I like Veggie pizzas
They're really good pizzas

In [ ]:
#4-2
animals = ['lion', 'tiger','cheetah']
for animals in animals:
  print('The', animals.title(),'is not only ferocious predators but big cats')
print('All these animals almost compare to a house cat!')

The Lion is not only ferocious predators but big cats
The Tiger is not only ferocious predators but big cats
The Cheetah is not only ferocious predators but big cats
All these animals almost compare to a house cat!

In [ ]:
#4-3
for value in range(1,101):
  print (value)
#4-4
million = list(range(1,101))
print (million)
#4-5
min(million)
max(million)
sum(million)
#4-6
odd_numbers = list(range(1,21,2))
for odd_numbers in range (1,21,2):
  print(odd_numbers)
#4-7
squares =[]
for value in range (3,30):
  square = value**2
  squares.append(square)
print(squares)
#4-8
cube =[]
for value in range(1,11):
  cubed = value**3
  cube.append(cubed)
print(cube)
#4-9
cubes = [value**3 for value in range (1,11)]
print (cubes)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1
3
5
7
9
11
13
15
17
19
[9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#4-10
name = ['book','phone','television','laptop','game','car','home','bike','cup']
print(name[0:3])
print(name[3:6])
print(name[6:9])

['book', 'phone', 'television']
['laptop', 'game', 'car']
['home', 'bike', 'cup']

In [ ]:
#4-11
my_pizza = ['bruchetta','supreme','margarita','veggie']
friend_pizza = my_pizza [:]
friend_pizza.append('buffalo chicken')
for my_pizza in my_pizza:
  print("My favorite pizza are:", my_pizza.title())
for friend_pizza in friend_pizza:
           print ("My friend's favorite pizza are:",friend_pizza.title())

My favorite pizza are: Bruchetta
My favorite pizza are: Supreme
My favorite pizza are: Margarita
My favorite pizza are: Veggie
My friend's favorite pizza are: Bruchetta
My friend's favorite pizza are: Supreme
My friend's favorite pizza are: Margarita
My friend's favorite pizza are: Veggie
My friend's favorite pizza are: Buffalo Chicken

In [ ]:
#4-12
food = ['pizza','falafel','carrot cake']
friend_food = food[:]
for food in food:
  print('Some of what I like are:', food.title())
for friend_food in friend_food:
  print('Some of what my friend likes are:', friend_food.title())

Some of what I like are: Pizza
Some of what I like are: Falafel
Some of what I like are: Carrot Cake
Some of what my friend likes are: Pizza
Some of what my friend likes are: Falafel
Some of what my friend likes are: Carrot Cake

In [ ]:
#4-13
buffet_food = ('pasta','chicken','fruits','asian','burgers')
for buffet in buffet_food:
  print(buffet_food)
buffet_food = ('pasta','turkey','vegetables','asian','burgers')
print('\n Modified items:')
for buffet in buffet_food:
  print(buffet_food)

('pasta', 'chicken', 'fruits', 'asian', 'burgers')
('pasta', 'chicken', 'fruits', 'asian', 'burgers')
('pasta', 'chicken', 'fruits', 'asian', 'burgers')
('pasta', 'chicken', 'fruits', 'asian', 'burgers')
('pasta', 'chicken', 'fruits', 'asian', 'burgers')

 Modified items:
('pasta', 'turkey', 'vegetables', 'asian', 'burgers')
('pasta', 'turkey', 'vegetables', 'asian', 'burgers')
('pasta', 'turkey', 'vegetables', 'asian', 'burgers')
('pasta', 'turkey', 'vegetables', 'asian', 'burgers')
('pasta', 'turkey', 'vegetables', 'asian', 'burgers')

In [2]:

def factorial(n):
  number = [i for i in range (1,n +1)]
  product = 1
  for n in number:
    product += n
  return product
print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

16
56
211
1276

In [13]:
def special_factorial(n):
    numbers = [i for i in range(1, n + 1)]

    if 4 in numbers:
        numbers.remove(4)
    if 13 in numbers:
        numbers.remove(13)
    if 22 in numbers:
        numbers.remove(22)

    result = 1

    for num in numbers:
        result *= num

    return result


print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000